@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

/* Navbar */

.navbar {
  height: 12vh;
  border-bottom: 1px solid rgb(235, 235, 235);
  padding: 1rem 4rem;

  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  width: 8rem;
  height: 2.5rem;
}

.nav-menu {
  width: max-content;
  padding: 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
}

.menu {
  display: flex;
  align-items: center;
  gap: 12px;
  border: 1px solid rgb(235, 235, 235);
  padding: 10px 14px;
  border-radius: 20px;
}

.logos {
  width: 1.6rem;
  height: 1.6rem;
}

.logo-hover {
  padding: 5px;
}

.logo-hover:hover {
  background-color: #f7f7f7;
}
